# OPENROUTER_API_KEY: Required for OpenRouter API calls.
OPENROUTER_API_KEY="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"
# SALADO_FUTURO_SUBSCRIPTION_KEY: Required for Salado Futuro API calls.
SALADO_FUTURO_SUBSCRIPTION_KEY=""
